.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.msg-info {
  margin: 2rem auto;
  border:1px solid
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  outline: 1px solid grey;
  padding: 0.5rem;
  margin: 2.5% auto;
  flex: 0 1 20%;
}



.banner {
  background-color:orange;
  color: black;
  font-weight: bold;
  padding: 5px 0;
  
}

.banner.banner-popular {
  background-color: rgb(95, 24, 95);
}

.banner.banner-average {
  background-color: rgb(15, 5, 15);
}


